vendor
script-audit
tmp
web/core
web/libraries
web/modules/contrib
web/themes/contrib
web/sites/default/files
web/sites/default/settings.local.php
web/sites/default/services.yml
web/robots.txt


.dockerignore
*.bck
*.sql

.env
scripts
docker-compose.local.yml
Dockerfile.local
